<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Podcasts</title>
    <style>
      body {
        text-align: center;
      }
      a {
        text-decoration: none;
        color: rgb(64, 187, 224);
      }
    </style>
  </head>
  <body>
    <h1>Free Podcasts</h1>
    <% podcast.forEach((podcast,index)=>{ %>
    <h2><a href="/podcast/<%= podcast._id %>"><%= index+1 %>. <%= podcast.title %></a></h2>
    <% }) %>
  </body>
</html>
