<!DOCTYPE html>
<html>
  <head>
    <title>Index Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Index Page</h1>
    <h3>Choose who you are ?</h3>
    <h4>
      <a href="/admin">Admin</a>
    </h4>
    <h4>
      <a href="/user">User</a>
    </h4>
    <h3>Want to see PodCasts</h3>
    <a href="/podcast">PodCasts</a>
  </body>
</html>
